@use'../index' as *;

footer {
    color: $color-white;
    background-color : $dark-grey;
    display:flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    
        p{ 
            font-family: $font-title;
            font-size: 18px;
            padding: 22px 22px 0px 22px;
        }
        ul{
            padding: 18px;
        }
            li {
                padding-top: 7px;
                }

        span {
            padding-right : 17px;   
        }
}

@media (min-width: $desktop) {
   footer {
     
        flex-direction : row-reverse;
        align-items : flex-end;
        justify-content: end;
        padding : 25px 0px;
        gap : 60px;
        margin:0px;
  
       p {
            padding-right : 60px ; 
        }
        ul { 
            display: flex;
            flex-direction: row;
            padding: 0px;
            gap : 13px;
    }
    li { 
        font-weight: 200;
    }
    
    .link li:nth-child(-n+2){
        font-weight: 600; 
        }
    .link li:nth-child(1) + li {
        margin-right: 35px;
    }
   }
}

@media (min-width: $tablet) and (max-width:$desktop) {
   footer { 
        flex-direction : row-reverse;
        align-items : baseline;
        justify-content: center;
        gap : 15px;
        
    p {
        justify-content: center;
        align-content: center;
         padding: 0px;
         display: flex;
         align-items:baseline; 
        }
    ul{ 
        display: flex;
        flex-direction: row;
        align-items:flex-start; 
        align-content: flex-start;
        gap :18px;
    }
    span{
        padding-right : 7px;
    }
}
}