/*@use'../index' as *;

header {
    @include flex-center; 

        div{
            width :100%;
            background-color:$background-white;
            text-align:center;
            @include shadow;
            
        img{
            padding:15px;
            width: 15px;
            height: 13px;
        }
        }
        p{
            background-color:$background-color-header;
            text-align:center;
            width:100%;
            padding:15px;
            margin:0px;
            font-family: $font-p;
            color:$color-white;
        }
        span {
            color:$icone-grey;
            padding-right : 17px;
        }
}