@use'../index' as *;

.third-main-part {
    position: relative;
    box-sizing: border-box;
    background-color: $background-color-main;
    display: flex;
    flex-direction: column;
    padding: 30px;

    a {
        color: inherit;
        text-decoration: none;
        position: relative;
    }

    .card {
        position: relative;
    }


    h2 {
        @include title;
        padding-left: 0px;
    }

    h3 {
        color: $black-color;
        font-family: $font-text;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 5px;
    }

    p {
        font-size: 17px;
        font-weight: 300;
        color: $dark-grey ;
    }

    img {
        height: 180px;
        width: 100%;
    }

    /*.like {
        position: absolute;
        width: 1.1em;
        height: 1.1em;
        bottom: 0.9em;
        margin: 15px;
        right: 3px;
    }*/

    .badge {
        margin: 15px;
        background-color: $light-green;
        padding: 10px;
        width: 60px;
        border-radius: 3px;
        color: $dark-green;
        position: absolute;
        right: 3px;
    }


    .container {
        border: none;
        display: flex;
        flex-direction: column;

        a {
            margin-bottom: 25px;
            width: 100%;
        }

        .content {
            height: 90px;
            background-color: white;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        .card {
            display: flex;
            flex-direction: column;
            border: none;
            padding: 0px;
            filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

        }

        img {
            border: none;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
        }
    }

    .heart-checkbox {
        display: none;
    }

    label {
        display: inline-block;
        cursor: pointer;
        background-image: url(/Ohmyfood/assets/images/images/empty-heart.svg);
        background-repeat: no-repeat;
        position: absolute;
        width: 2em;
        height: 1.5em;
        margin: 15px;
        bottom: 0.7em;
        right: 9px;
    }

    .heart-checkbox:checked+label {
        background-image: url(/Ohmyfood/assets/images/images/full-heart.svg);
    }

    .heart-checkbox:hover+label {
        background-image: url(/Ohmyfood/assets/images/images/full-heart.svg);
    }

    .heart-checkbox:focus+label {
        background-image: url(/Ohmyfood/assets/images/images/full-heart.svg);
    }

    #heartCheckbox1:checked+.heart-label {
        background-image: url(/Ohmyfood/assets/images/images/full-heart.svg);
    }

    #heartCheckbox2:checked+.heart-label {
        background-image: url(/Ohmyfood/assets/images/images/full-heart.svg);
    }

    #heartCheckbox3:checked+.heart-label {
        background-image: url(/Ohmyfood/assets/images/images/full-heart.svg);
    }



    .card {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .container .content {
        padding: 15px 20px;
        height: 50%;
    }

    .container span {
        //transform:translate(200px) ;
        display: inline;
        justify-content: end;
        text-align: end;
        flex-direction: row;
        padding-top: 4px;
    }

    .container span {
        display: inline-block;
        flex-direction: column;
        align-items: center;
        align-content: baseline;
    }

}

/*
@media (min-width: $desktop) {
    .container {
        display: flex;
        column-gap: 30px;
    }

    .container .card {
        display: flex;
        height: 60px;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        padding: 0px;
    }

}

/*@media (min-width: $tablet) {
        display: flex;
    flex-direction: row;
}
@media (min-width: $desktop) {}*/