@use'../index' as *;

.background {
    background-color: $background-color-main;
}

.third-main-part {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 30px;


    .container.container.image-gap article.card a>div img {
        display: block;
        /* Assure que l'image se comporte comme un bloc */
        vertical-align: middle;
        /* Ajuste l'alignement vertical de l'image */
        margin: 0;
        /* Supprime les marges par défaut de l'image */
        padding: 0;
        /* Supprime les paddings par défaut de l'image */
    }

    a {
        color: inherit;
        text-decoration: none;
        position: relative;
    }

    .card {
        position: relative;
    }


    h2 {
        @include title;
        padding-left: 0px;

    }

    h3 {
        color: $black-color;
        font-family: $font-text;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 5px;
    }

    p {
        font-size: 17px;
        font-weight: 300;
        color: $dark-grey ;
    }

    img {
        height: 174px;
        width: 100%;
    }

    .badge {
        margin: 15px;
        font-size: 14px;
        background-color: $light-green;
        padding: 6px 10px;
        width: 60px;
        border-radius: 3px;
        color: $dark-green;
        position: absolute;
        right: -0.1em;
        top: 0.1em;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
            margin-bottom: 25px;
            width: 100%;
        }

        .content {
            height: 90px;
            background-color: white;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        .card {
            display: flex;
            flex-direction: column;
            border: none;
            padding: 0px;
            filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

        }

        .media-content {
            img {
                border: none;
                object-fit: cover;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                object-fit: cover;
            }
        }
    }

    .heart-checkbox {
        display: none;
    }

    .heart-label {
        display: inline-block;
        cursor: pointer;
        background-image: url(../assets/images/images/empty-heart.svg);
        background-repeat: no-repeat;
        position: absolute;
        width: 2em;
        height: 1.5em;
        margin: 15px;
        bottom: 2.3em;
        right: 3px;
        transition: transform 450ms, background-image 300ms 150ms;
    }

    .heart-checkbox:checked+.heart-label {
        background-image: url(../assets/images/images/full-heart.svg);
    }

    /*
    .heart-checkbox:hover+.heart-label {
        background-image: url(/Ohmyfood/assets/images/images/full-heart.svg);
        transform: scale(1.5);
    }

    .heart-checkbox:focus+.heart-label{
        background-image: url(/Ohmyfood/assets/images/images/full-heart.svg);
    }

*/
    .card {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .container .content {
        padding: 15px 20px;
        height: 50%;
    }

    .container span {
        display: inline;
        justify-content: end;
        text-align: end;
        flex-direction: row;
        padding-top: 4px;
    }

    .container span {
        display: inline-block;
        flex-direction: column;
        align-items: center;
        align-content: baseline;
    }

}

@media (min-width: $tablet) {
    .third-main-part {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .container {
            display: flex;
            flex-direction: row;
            width: 100%;
            column-gap: 30px;

            .content {
                height: 50px;
            }
        }

        .card {
            width: 45%;
        }
    }
}

@media (min-width: $desktop) {
    .third-main-part {

        margin: 0px;
        padding: 0 180px;
        max-width: 1330px;

        .gap {
            padding-bottom: 50px;
        }

        .h2 {
            padding-bottom: 28px;
        }

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            column-gap: 30px;

            .card {
                width: 45%;
            }

        }

    }
}