@use'../index' as *;

.second-main-part {
    padding: 0px 30px 0px 20px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;


    h2 {
        text-align: left;
        @include title;
        padding: 20px 25px 30px 0px;
    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-left: 14px;
    }

    li {
        display: flex;
        background-color: $background-color-main;
        padding: 23px 15px;
        border-radius: 20px;
        width: 95%;
        margin: 0px 0px 5px 0px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.20);
    }

    .number {
        transform: translate(-26px);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 24 25' fill='%239356DC'%3E%3Ccircle cx='12' cy='12.8624' r='12' fill='%239356DC'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        padding-right: 0px;
        font-size: 14px;
        font-weight: 500;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        padding-right: 15px;
        color: $icone-grey;
        font-size: 20px;
        align-content: center;
    }

    .icone {
        color: $color-purple;
    }
}

@media (min-width: $tablet) {

    .second-main-part {

        ol {
            display: flex;
            align-items: center;
            max-width: 1024px;
        }

        li {
            max-width: 300px;
        }
    }
}

@media (min-width: 1209px) {

    .second-main-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 230px;
        margin: 0px;
        padding: 0px 180px;

        ol {
            max-width: 1023px;
            display: flex;
            flex-direction: row;
            gap: 25px;
        }

        span {
            display: inline;
            align-content: start;
        }

        li {
            text-align: left;
            margin-bottom: 0px;
        }
    }
}