@use'../index' as *;

/***header restaurant page***/
.header-restaurant {
    display: flex;
    align-items: center;
    font-family: $font-title;
    font-size: 30px;
    padding: 22px 0px 12px 0px;
}

.header-restaurant a {
    @include lien;
    display: inline;
    margin-left: 20px;
    font-size: 20px;
}

.header-restaurant h1 {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

/*** Restaurant's image ***/
.a-la-française-image {
    background-image: url(../assets/images/images/photos/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.la-note-enchante-image {
    background-image: url(../assets/images/images/photos/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.delice-des-sens-image {
    background-image: url(../assets/images/images/photos/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.la-palette-image {
    background-image: url(../assets/images/images/photos/jay-wennington-N_Y88TWmGwA-unsplash.jpg)
}

/*** Main of menu's restaurant ***/
.restaurant-main {

    .restaurant-background {
        min-height: 275px;
        background-size: cover;
        background-position: center;

        .menu {
            background-color: $background-color-main;
            margin: -2em;
            padding: 15px;
        }
    }

    .menu {
        background-color: $background-color-main;
        padding: 15px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-top: -30px;

        .menu-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    section {
        padding-bottom: 40px;
        width: 98%;
    }

    .menu-title {
        flex-direction: row;
        display: flex;
        justify-content: center;
        padding: 15px;

        .heart-checkbox {
            display: none;
        }

        .heart-label {
            display: flex;
            cursor: pointer;
            background-image: url(../assets/images/images/empty-heart.svg);
            background-repeat: no-repeat;
            width: 2em;
            height: 1.5em;
            bottom: 2.3em;
            right: 3px;
            transition: transform 450ms, background-image 300ms 150ms;
        }

        div.favorite-icon {
            padding-top: 18px;
        }

        .heart-checkbox:checked+.heart-label {
            background-image: url(../assets/images/images/full-heart.svg);
        }
    }

    .menu ul li p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    h2 {
        font-family: $font-title;
        font-size: 1.75em;
        padding-top: 18px;
        margin-bottom: 40px;
        margin-right: 15px;
    }


    .menu-title {
        display: flex;
        flex-direction: column;
    }

    h3 {
        padding-bottom: 20px;
        border-bottom: 3px solid $light-green;
        width: 40px;
        height: 3px;
        font-weight: 100;
    }

    h4 {
        padding-bottom: 10px;
    }

    .check-icon {
        display: none;
    }


    ul {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        gap: 18px;


        li {

            display: inline;
            background-color: $background-color-main;
            flex-wrap: nowrap;
            padding-left: 15px;
            border-radius: 20px;
            width: 100%;
            //height: 50px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
            position: relative;

            .flex {
                p {
                    flex-grow: 2;
                }
            }

            .checkbox {
                display: none;
            }

            .check-icon {
                position: relative;
                display: flex;
                flex-direction: row;
                height: 5em;
                width: 4em;
                margin-left: -4em;
                transform: translateX(100%);
                opacity: 0;
            }

            .list img {
                height: 5em;
                //width: 4em;
            }

            &:hover .check-icon {
                transition: all 0.9s ease-in-out;
                transform: translateX(0);
                margin-left: 0em;
                opacity: 1;
            }
        }
    }
}

li {
    .list {
        display: flex;
        align-items: center;
        overflow: hidden;

        h4 {
            font-size: 1.125em;
            font-style: normal;
            font-weight: 700;
        }

        .meal-name {
            width: 100%;
        }

        .flex {
            display: flex;
            align-items: center;

            .price {
                font-size: 1.125em;
                font-style: normal;
                font-weight: 700;
                margin-right: 1em;

            }
        }
    }
}

.appear-first {
    animation: appear 2000ms forwards ease-in-out;
}

@keyframes appear {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.appear1 {
    animation: appear1 1200ms forwards ease-in-out;
}

@keyframes appear1 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.appear2 {
    animation: appear2 1500ms forwards ease-in-out;
}

@keyframes appear2 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.appear3 {
    animation: appear3 1800ms forwards ease-in-out;
}

@keyframes appear3 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.appear-second {
    animation: appear 3000ms forwards ease-in-out;
}

@keyframes appear {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.appear4 {
    animation: appear 2200ms forwards ease-in-out;
}

@keyframes appear4 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.appear5 {
    animation: appear2 2500ms forwards ease-in-out;
}

@keyframes appear4 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.appear6 {
    animation: appear6 2800ms forwards ease-in-out;
}

@keyframes appear6 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
.appear-third {
    animation: appear 4000ms forwards ease-in-out;
}

@keyframes appear {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.appear7 {
    animation: appear7 3200ms forwards ease-in-out;
}

@keyframes appear7 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.appear8 {
    animation: appear8 3500ms forwards ease-in-out;
}

@keyframes appear8 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.appear9 {
    animation: appear9 3800ms forwards ease-in-out;
}

@keyframes appear9 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
h4,

/*p {
    white-space: nowrap;
   // overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}*/


p {
    font-size: 0.875em;
    font-weight: 300;
}

.order-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;

    button {
        @include button;
        font-weight: 500;
        width: 186px;
    }
}


@media (min-width: $desktop) {
    .restaurant-main {
        h2 {
            text-align: center;
        }

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: -30px 180px 0px 180px;

            .menu-title {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            div.favorite-icon {
                padding-top: 0px;
            }

            section {
                display: flex;
                justify-content: center;
            }

            .layout-list {
                width: 75%;
            }

            h2 {
                padding: 0px;
            }

            label {
                margin-top: 1px;
            }
        }


    }
}