@use'../index' as *;


.header-restaurant {
    display: flex;
    align-items: center;
    /* Centre les éléments verticalement */
    //box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-family: $font-title;
    font-size: 30px;
    padding: 22px 0px 12px 0px;
}


.header-restaurant a {
    @include lien;
    display: inline;
    margin-left: 20px;
    font-size: 20px;
    /* Ajoute un espacement entre la flèche et le titre */
}

.header-restaurant h1 {
    margin: 0 auto;
    /* Centre le titre horizontalement */
    width: 100%;
    text-align: center;
}

.a-la-française-image {
    background-image: url(../assets/images/images/photos/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

//.image resto background-image: url()
//.image resto background-image: url()
//.image resto background-image: url()

.restaurant-main {
    .restaurant-background {
        min-height: 275px;
        background-size: cover;
        background-position: center;
        
        .menu {
            background-color: $background-color-main;
            margin: -2em;
            padding: 15px;
            //border-top-left-radius: 50px;
            // border-top-right-radius: 50px;
        }
    }

    .menu {
        background-color: $background-color-main;
        padding: 15px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-top: -30px;
    }

    section {
        padding-bottom: 40px;
    }

    .menu-title {
        padding: 15px;
    }

    .menu ul li p {

        white-space: nowrap;
        /* Empêche le texte de revenir à la ligne */
        overflow: hidden;
        /* Masque le texte qui dépasse */
        text-overflow: ellipsis;
        /* Ajoute des points de suspension pour indiquer que le texte est tronqué */
    }


    h2 {
        font-family: $font-title;
        font-size: 1.75em;
        padding-top: 18px;
        margin-bottom: 40px;
    }

    .menu-title {
        display: flex;
        flex-direction: column;
    }

    .heart-checkbox {
        display: none;
    }

    label {
        display: inline-block;
        cursor: pointer;
        background-image: url(/Ohmyfood/assets/images/images/empty-heart.svg);
        background-repeat: no-repeat;
        position: absolute;
        width: 2em;
        height: 1.5em;
        left: 15em;
        top: 30.5em;
        margin-top: 15px;
        transition: transform 450ms, background-image 300ms 150ms;
    }

    .heart-checkbox:checked+label {
        background-image: url(/Ohmyfood/assets/images/images/full-heart.svg);
    }

    h3 {
        padding-bottom: 20px;
        border-bottom: 3px solid $light-green;
        width: 40px;
        height: 3px;
        font-weight: 100;
    }

    h4 {
        padding-bottom: 10px;
    }

    ul {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        gap: 18px;


        li {
            display: inline;
            background-color: $background-color-main;
            flex-wrap: nowrap;
            padding: 15px;
            border-radius: 20px;
            width: 95%;
            height: 50px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
            position: relative;

            span {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: absolute;
                right: 1.8em;
                top: 2.4em;
            }
        }

        h4,
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 80%;
        }

        h4,
        span {
            font-size: 1.125em;
            font-style: normal;
            font-weight: 700;
        }

        p {
            font-size: 0.875;
            font-weight: 300;
        }
    }
    .order-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 40px;
       a {
        @include button;
        font-weight: 500;
        }
    }
}