@use'../util/colors' as *;

@mixin button {
    background: linear-gradient(to top, $color-purple, $color-pink); 
    color: #ffffff; 
    padding: 14px 18px; 
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 
    transition: background 0.3s ease; 
    text-decoration: none;
}
