/* Définition des variables
$taille-logo: 30px; // Taille du logo
$espace-logo-titre: 10px; // Espacement entre le logo et le titre

// Style de la carte
.card {
    width: 80%; // Largeur de la carte
    border-radius: 20px;
    padding: 5px;
    filter : drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    overflow: hidden; // Masquer le débordement

    .card img{
        object-fit: cover;
    }
}

    // Style du contenu textuel
    .content {
        padding: 15px; // Espacement intérieur
    }

    // Style du titre
    .title {
        font-size: 18px; // Taille de la police du titre
        font-weight: bold; // Gras
        margin-bottom: 5px; // Marge en bas du titre

        // Style du logo à droite du titre
        .logo {
            width: $taille-logo; // Taille du logo
            margin-left: $espace-logo-titre; // Espacement entre le logo et le titre
            vertical-align: middle; // Alignement vertical au milieu
        }
    }

    // Style du sous-titre
    .subtitle {
        font-size: 14px; // Taille de la police du sous-titre
        color: #777; // Couleur grise
    }
*/
