$background-color-header : #EAEAEA;
$color-white :#ffffff;
$dark-grey : #353535;
$background-color-main: #F6F6F6;
$style-color-first : #9356DC;
$style-color-second : #ff79da; 
$color-nouveau-restaurant : #008766;
$icone-grey: #7E7E7E;
$black-color:black;
