$background-color-header : #EAEAEA;
$color-white :#ffffff;
$dark-grey : #353535;
$background-color-main: #F6F6F6;
$color-purple : #9356DC;
$color-pink : #ff79da; 
$dark-green : #008766;
$light-green:#99E2D0;
$icone-grey: #7E7E7E;
$black-color:black;
