@mixin style-color{
    background: linear-gradient(to bottom, $color-pink, $color-purple);
}

@mixin flex-center {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin lien {
        color: inherit;
        text-decoration: none;
}
@mixin title {
    font-size: 1.8rem;
    font-weight: 800;
    padding: 25px 20px; //(T-R-B-L)
}

